.herosec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 101px;
  height: 950px;
}

.herotext {
  margin-top: 258px;
  text-align: start;
}

.herotext h1 {
  font-size: 65px;
  line-height: 70px;
  font-weight: 600;
  letter-spacing: 3%;
  color: #7d72ff;
  width: 652px;
  margin-bottom: 30px;
}

.herotext h1 span {
  color: #ffffff;
}

.herotext p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 3%;
  font-weight: 400;
  color: #ffffff;
  opacity: 70%;
  width: 499px;
  margin-bottom: 40px;
}

.herobut {
  background-color: #7d72ff;
  padding: 15px 30px 15px 30px;
  border-radius: 27px;
  width: 175px;
}

.herobut button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border: none;
  background: none;
  text-align: center;
}

.heroimg {
  position: relative;
  margin-top: 32px;
  z-index: 0;
}

.heroimg .outcome {
  position: absolute;
  right: 0;
  top: 91px;
  z-index: 4;
}

.heroimg .iphone {
  position: absolute;
  right: 90px;
  top: 209px;
  z-index: 3;
}

.heroimg .oval {
  position: absolute;
  right: 0px;
  top: 91px;
  z-index: 2;
}

.heroimg .spiral {
  position: absolute;
  right: -101px;
  top: 32px;
}

@media screen and (max-width: 1366px) {
  .herosec {
    padding: 0 96px;
    height: 900px;
  }

  .herotext {
    margin-top: 245px;
  }

  .herotext h1 {
    font-size: 60px;
    line-height: 66px;
    width: 619px;
  }

  .herotext p {
    font-size: 16px;
    line-height: 24px;
    width: 474px;
  }

  .heroimg {
    margin-top: 30px;
  }

  .heroimg .outcome {
    width: 291px;
  }

  .heroimg .iphone {
    width: 386px;
    top: 198px;
  }

  .heroimg .oval {
    width: 503px;
    height: 749px;
  }

  .heroimg .spiral {
    right: -96px;
    top: 30px;
    width: 730px;
  }
}

@media screen and (max-width: 1280px) {
  .herosec {
    padding: 0 70px;
  }

  .herotext {
    margin-top: 205px;
  }

  .herotext h1 {
    font-size: 40px;
    line-height: 40px;
    width: 500px;
    margin-bottom: 10px;
  }

  .herotext p {
    font-size: 15px;
    line-height: 24px;
    width: 400px;
  }

  .heroimg {
    margin-top: 30px;
  }

  .heroimg .outcome {
    width: 245px;
  }

  .heroimg .iphone {
    width: 325px;
    top: 198px;
  }

  .heroimg .oval {
    width: 440px;
    height: 632px;
  }

  .heroimg .spiral {
    right: -70px;
    top: 30px;
    width: 550px;
  }
}

/* Media Queries for Tablet */
@media only screen and (max-width: 991px) {
  .herosec {
    grid-template-columns: 1fr;
    padding: 0 20px;
    height: auto;
  }

  .herotext {
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .herotext h1 {
    font-size: 40px;
    line-height: 45px;
    width: 100%;
    margin-bottom: 20px;
  }

  .herotext p {
    font-size: 16px;
    line-height: 22px;
    width: 550px;
    margin-bottom: 20px;
  }

  .herobut {
    padding: 10px 20px;
    width: 160px;
  }

  .heroimg {
    margin: 20px auto;
    position: relative;
  }

  .heroimg .outcome {
    width: 140px;
    right: 90px;
    top: 70px;
  }

  .heroimg .iphone {
    width: 216px;
    top: 120px;
    right: 120px;
  }

  .heroimg .oval {
    width: 303px;
    height: 449px;
    top: 50px;
    right: 50px;
  }

  .heroimg .spiral {
    position: relative;
    margin: 0 auto;
    width: 430px;
    right: 0;
  }
}

/* Media Queries for Mobile */
@media only screen and (max-width: 575px) {
  .herotext h1 {
    font-size: 28px;
    line-height: 32px;
  }

  .herotext p {
    font-size: 14px;
    line-height: 18px;
    width: 350px;
  }

  .herosec {
    grid-template-columns: 1fr;
    padding: 0 10px;
    height: auto;
  }

  .herotext {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 375px;
  }

  .herobut {
    padding: 10px 10px;
    width: 160px;
  }

  .herobut button {
    font-size: 13px;
  }

  .heroimg {
    margin: 0px auto;
    position: relative;
  }

  .heroimg .outcome {
    width: 81px;
    right: 52px;
    top: 40px;
  }

  .heroimg .iphone {
    width: 125px;
    top: 70px;
    right: 70px;
  }

  .heroimg .oval {
    width: 175px;
    height: 260px;
    top: 29px;
    right: 29px;
  }

  .heroimg .spiral {
    position: relative;
    margin: 0 auto;
    width: 250px;
    right: 0;
  }
}

@media only screen and (max-width: 430px) {
  .herosec {
    grid-template-columns: 1fr;
    height: auto;
  }

  .herotext {
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
  }

  .herotext h1 {
    font-size: 20px;
    line-height: 32px;
    width: 300px;
  }

  .herotext p {
    font-size: 11px;
    line-height: 18px;
    width: 300px;
  }
}
