.authpage {
  height: 700px;
  background-color: #151518;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainlogo {
  cursor: pointer;
}

@media screen and (max-width: 575px) {
  .authpage {
    height: 641px;
  }
}
